<div id='Thanker'>
    <p id='Thanks'>
        Thank You!
    </p>
</div>
<div id='QRdiv'>

    <p id='QRtext'>
        Scan QR Code on the Go..
    </p>
    <img id='QRimage' src="{{{uid}}}" alt="Fialed to load QR Code" title="iamge" alt={{{uidl}}} />

    <button>Go Back</button>
</div>