<body id="top">
  <section id="banner" data-video="images/banner">
    <div class="inner">
      <header>
        <h1>BEYOND CINEMATIC UNIVERSE</h1>
        <p>CONNECT AND ENJOY<br />
        </p>
      </header>
      <a href="#main" class="more">Learn More</a>
    </div>
  </section>

  <!-- Main -->
  <div id="main">
    <h2 style='padding-left:20px;'>Now Showing</h2>
    <div class="inner">

      <!-- Boxes -->

      <div class="thumbnails">

        <div class="box">
          <a href="/s6zR2T9vn2c" class="image fit"><img src="images/1x.jpg" alt="" /></a>
          <div class="inner">
            <h3>TERMINATOR : DARK FATE (2019)</h3>
            <div class='AvailBar'>
              <h3 class='AvailThis'>Status: Available</h3>
            </div>
            <p>Sarah Connor and a hybrid cyborg human must protect a young girl from a newly modified liquid
              Terminator from the future.<br><b> Director: Tim Miller.<br>Stars: Linda Hamilton, Arnold
                Schwarzenegger, Mackenzie Davis.</b><br> <br> </p>
            <a href="https://www.youtube.com/embed/oxy8udgWRmo" class="CustomButton"
              data-poptrox="youtube,800x400">Watch Trailer</a>
            <button data-toggle="modal" data-target="#arnoldModal" class="button fit">Book Now</button>
          </div>
        </div>

        <div class="box">
          <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/2x.jpg" alt="" /></a>
          <div class="inner">
            <h3 name="title">HARRIET (2019)</h3>
            <div class='AvailBar'>
              <h3 class='AvailThis'>Status: Available</h3>
            </div>
            <p>The extraordinary tale of Harriet Tubman's escape from slavery and transformation into one of
              America's greatest heroes, whose courage, ingenuity, and tenacity freed hundreds of slaves
              and changed the course of history.<br> Director: Kasi Lemmons.<br>Stars: Cynthia Erivo,
              Leslie Odom Jr., Joe Alwyn.</p>
            <a href="https://www.youtube.com/embed/oxy8udgWRmo" class="CustomButton"
              data-poptrox="youtube,800x400">Watch Trailer</a>
            <button data-toggle="modal" data-target="#harrietModal" class="button fit">Book Now</button>
          </div>
        </div>

        <div class="box">
          <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/3x.webp" alt="" /></a>
          <div class="inner">
            <h3 name="title">JOKER (2019)</h3>
            <div class='AvailBar'>
              <h3 class='AvailThis'>Status: Available</h3>
            </div>
            <p>In Gotham City, mentally-troubled comedian Arthur Fleck is disregarded and mistreated by
              society. He then embarks on a downward spiral of revolution and bloody crime. This path
              brings him face-to-face with his alter-ego: "The Joker".<br> Director: Todd
              Phillips.<br>Stars: Joaquin Phoenix, Robert De Niro, Zazie Beetz.<br></p>
            <a href="https://www.youtube.com/embed/oxy8udgWRmo" class="CustomButton"
              data-poptrox="youtube,800x400">Watch Trailer</a>
            <button data-toggle="modal" data-target="#jokerModal" class="button fit">Book Now</button>
          </div>
        </div>

        <div class="box">
          <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/4x.jpg" alt="" /></a>
          <div class="inner">
            <h3 name="title">GEMINI MAN (2019)</h3>
            <div class='AvailBar'>
              <h3 class='AvailThis'>Status: Available</h3>
            </div>
            <p>An over-the-hill hitman faces off against a younger clone of himself.<br>Director: Ang
              Lee.<br>Stars: Will Smith, Mary Elizabeth Winstead, Clive Owen.</p>
            <a href="https://www.youtube.com/embed/oxy8udgWRmo" class="CustomButton"
              data-poptrox="youtube,800x400">Watch Trailer</a>
            <button data-toggle="modal" data-target="#geminiModal" class="button fit">Book Now</button>
          </div>
        </div>

        <div class="box">
          <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/5x.jpg" alt="" /></a>
          <div class="inner">
            <h3>FROZEN 2</h3>
            <div class='AvailBar'>
              <h3 class='AvailThis'>Status: Available</h3>
            </div>
            <p>Anna, Elsa, Kristoff, Olaf and Sven leave Arendelle to travel to an ancient, autumn-bound forest of an
              enchanted land.
              They set out to find the origin of Elsa's powers in order to save their kingdom.
              Directors: Chris Buck, Jennifer Lee<br>
              Writers: Kristen Anderson-Lopez (story by), Chris Buck <br>
              Stars: Kristen Bell, Jonathan Groff, Evan Rachel Wood </p>
            <a href="https://www.youtube.com/embed/oxy8udgWRmo" class="CustomButton"
              data-poptrox="youtube,800x400">Watch Trailer</a>
            <button data-toggle="modal" data-target="#feministModal" class="button fit">Book Now</button>
          </div>
        </div>

        <div class="box">
          <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/6x.jpg" alt="" /></a>
          <div class="inner">
            <h3 name="title">Fast & Furious Presents: Hobbs & Shaw (2019)</h3>
            <div class='AvailBar'>
              <h3 class='AvailThis'>Status: Available</h3>
            </div>
            <p>Lawman Luke Hobbs and outcast Deckard Shaw form an unlikely alliance when a cyber-genetically enhanced
              villain threatens the future of humanity.<br>
              Director: David Leitch
              Writers: Chris Morgan ( creenplay by), Drew Pearce <br>
              Stars: Dwayne Johnson, Jason Statham, Idris Elba .</p>
            <a href="https://www.youtube.com/embed/oxy8udgWRmo" class="CustomButton"
              data-poptrox="youtube,800x400">Watch Trailer</a>
            <button data-toggle="modal" data-target="#fastModal" class="button fit">Book Now</button>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">

      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
      </ul>
      <p class="copyright">&copy; ExpressJS Limited. Design: <a href="8.co">Beyond</a>. </p>
    </div>
  </footer>

  <!-- Modal -->
  <form method="POST" action="/bookerFuck" class="modal fade" id="arnoldModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-image: linear-gradient(45deg, rgb(146, 7, 7), rgb(112, 5, 5));">
        <div class="modal-header">
          <h3 class="modal-title" id="arnoldModal">Book Now</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="mt-3" type="text" name="name" placeholder="Name" required />
          <input class="mt-3" type="text" name="phone" placeholder="Phone" required />
          <input class="mt-3" type="email" name="email" placeholder="Email" required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>
  </form>
  <!-- Modal -->
  <form method="POST" action="/bookerFuck" class="modal fade" id="harrietModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-image: linear-gradient(45deg, rgb(146, 7, 7), rgb(112, 5, 5));">
        <div class="modal-header">
          <h3 class="modal-title" id="harrietModal">Book Now</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="mt-3" type="text" name="name" placeholder="Name" required />
          <input class="mt-3" type="text" name="phone" placeholder="Phone" required />
          <input class="mt-3" type="email" name="email" placeholder="Email" required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary">Book Now</input>
        </div>
      </div>
    </div>
  </form>
  <!-- Modal -->
  <form method="POST" action="/bookerFuck" class="modal fade" id="jokerModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-image: linear-gradient(45deg, rgb(146, 7, 7), rgb(112, 5, 5));">
        <div class="modal-header">
          <h3 class="modal-title" id="jokerModal">Book Now</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="mt-3" type="text" name="name" placeholder="Name" required />
          <input class="mt-3" type="text" name="phone" placeholder="Phone" required />
          <input class="mt-3" type="email" name="email" placeholder="Email" required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary">Book Now</input>
        </div>
      </div>
    </div>
  </form>
  <!-- Modal -->
  <form method="POST" action="/bookerFuck" class="modal fade" id="geminiModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-image: linear-gradient(45deg, rgb(146, 7, 7), rgb(112, 5, 5));">
        <div class="modal-header">
          <h3 class="modal-title" id="geminiModal">Book Now</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="mt-3" type="text" name="name" placeholder="Name" required />
          <input class="mt-3" type="text" name="phone" placeholder="Phone" required />
          <input class="mt-3" type="email" name="email" placeholder="Email" required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary">Book Now</input>
        </div>
      </div>
    </div>
  </form>
  <!-- Modal -->
  <form method="POST" action="/bookerFuck" class="modal fade" id="feministModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-image: linear-gradient(45deg, rgb(146, 7, 7), rgb(112, 5, 5));">
        <div class="modal-header">
          <h3 class="modal-title" id="feministModal">Book Now</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="mt-3" type="text" name="name" placeholder="Name" required />
          <input class="mt-3" type="text" name="phone" placeholder="Phone" required />
          <input class="mt-3" type="email" name="email" placeholder="Email" required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary">Book Now</input>
        </div>
      </div>
    </div>
  </form>


  <!-- Modal -->
  <form method="POST" action="/bookerFuck" class="modal fade" id="fastModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-image: linear-gradient(45deg, rgb(146, 7, 7), rgb(112, 5, 5));">
        <div class="modal-header">
          <h3 class="modal-title" id="fastModal">Book Now</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="mt-3" type="text" name="name" placeholder="Name" required />
          <input class="mt-3" type="text" name="phone" placeholder="Phone" required />
          <input class="mt-3" type="email" name="email" placeholder="Email" required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary">Book Now</input>
        </div>
      </div>
    </div>
  </form>